[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "<2.0"
pandas = "*"
python-dotenv = "*"
pillow = "*"
adjusttext = "*"
pytz = "*"
flake8 = "*"
matplotlib = "*"
pygsheets = "*"
scipy = "*"
"dogpile.cache" = "*"
herotools = {editable = true, path = "E:/Python/HeroTools"}

[dev-packages]
