[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.37"
pandas = "*"
python-dotenv = "*"
pillow = "*"
adjusttext = "*"
pytz = "*"
flake8 = "*"
matplotlib = "==3.5.2"
pygsheets = "*"
scipy = "*"
"dogpile.cache" = "*"

[dev-packages]
